#mobile-basket {
  display: none;

  background-color: var(--background-light);
  text-align: center;
  padding: 1.5rem;
  font-size: 1.8rem;

  button {
    width: 100%;
    height: 6rem;
    padding: 1rem 2rem;
    cursor: pointer;
    color: white;
    background-color: var(--primary-color);
    font-size: 2.8rem;
    font-weight: 600;
    border-style: none;
  }
}

@media (max-width: 1180px) {
  #mobile-basket {
    display: block;
  }

  .basket-wrapper {
    display: none;
  }

  .basket-wrapper.fullscreen {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-light);
    z-index: 1;
    overflow-y: auto;

    .basket-title {
      font-size: 2.8rem;
      font-weight: 600;
      color: white;
      background-color: var(--primary-color);
      .close-icon {
        position: fixed;
        top: 0;
        right: 0;
        width: 5rem;
        height: 5rem;
        color: white;
        cursor: pointer;
      }
    }
  }

  .full-menu-content {
    .menu-content {
      width: 100%;
    }
  }

  body.no-scroll {
    overflow: hidden;
    height: 100%;
  }
}
