* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  position: relative;
  user-select: none;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  letter-spacing: 0.1rem;
}

body {
  background-color: var(--primary-color);
  color: var(--text-dark);
}

:root {
  --primary-color: #ff581a;
  --secondary-color: #ffece4;
  --background-light: #fff7f4;
  --text-dark: #120602;
  --text-grey: rgb(121, 121, 121);
  --border-light: rgb(244, 242, 242);
  --border-medium: rgb(232, 230, 230);
  --hover-color: #dc4b16;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
